.vs
VolleyballMemorySpike/VolleyballMemorySpike/VolleyballMemorySpike/bin/Debug
VolleyballMemorySpike/VolleyballMemorySpike/VolleyballMemorySpike/obj/Debug
VolleyballMemorySpike/VolleyballMemorySpike/VolleyballMemorySpike.Client/bin
VolleyballMemorySpike/VolleyballMemorySpike/VolleyballMemorySpike.Client/obj
