.vs
VolleyballMemorySpike/VolleyballMemorySpike.Client/bin
VolleyballMemorySpike/VolleyballMemorySpike.Client/obj
VolleyballMemorySpike/VolleyballMemorySpike.Api/bin
VolleyballMemorySpike/VolleyballMemorySpike.Api/obj
