.vs
VolleyballMemorySpike/VolleyballMemorySpike.Client/bin
VolleyballMemorySpike/VolleyballMemorySpike.Client/obj
VolleyballMemorySpike/VolleyballMemorySpike.Api/bin
VolleyballMemorySpike/VolleyballMemorySpike.Api/obj
VolleyballMemorySpike/VolleyballMemorySpike.Shared/bin
VolleyballMemorySpike/VolleyballMemorySpike.Shared/obj
VolleyballMemorySpike/VolleyballMemorySpike.Api/Migrations
